body{
  background-color: #F5F5DC;
}

.text{
  text-align: center;
}

h1{
  color: #004225;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
}

hr{
  background-color: #FFCF9D;
  height: 2px;
}

p{
  text-align: center;
  font-size: 1rem;
}

.list{
  color: #004225;
  text-decoration: none;
}

.quotes .head {
  text-align: center;
  color: #004225;
  font-family: "Libre Baskerville", serif;
}